header {
    background-color: var(--bg-secondary);
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    text-decoration: none;
}
.logo span {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--text-primary);
}

.auth-buttons {
    margin-left: auto;
}
.button-outline {
    padding: 0.5em 1em;
    margin-left: 1em;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--text-primary);
    text-decoration: none;
}
.button-primary {
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: var(--accent-blue);
    color: var(--text-primary);
    margin-left: 1em;
    text-decoration: none;
    transition: background-color 0.5s ease;
}
.button-primary:hover {
    background-color: var(--accent-blue-hover)
}